/* Google logosuna ait class */
.ortala{
    margin: 0 auto;
    text-align: center;
}
/* Googlelogosunun altındaki kısım için gerekli classlar */
.container{
    width: 756px;
    height: 140px;
    margin: 0 auto;
    text-align: center;
}
.search-area{
    width: 754px;
    height: 62px;
    background-color: #EEEEEE;
    margin-bottom: 3px;
}
   
.content{
    width: 754px;
    height: 76px;
    
    
}

.box-1{
    width: 37%;
    height:76px ;
    background-color: #7EE5DA;
    float: left;
    
    

}
.box-2{
    width: 144.7px;
    height: 76px;
    background-color: #70CCC2;
    float: left;
    font-size: 13px;
    margin-left: 2px;
    
    
}
.box-3{
    width: 326.35px;
    height: 76px;
    background-color: #62B3AA;
    float: left;
    font-size: 13px;
    margin-left: 2px;
    
}
/* listeler için oluşturulan class */
.ul{
    padding: 1px 0 0 10px;
    list-style-type: none;
    margin:0 auto;
}
.footerli{
    margin: 0 auto;
    text-align: center;
    font-size: 13px;
}